body {
  background: #f9f9fb;
  color: #111;
}
a {
  color: #C1E38A;
}
div {
  -webkit-transition: all 1.5s
}
.tiny-clip {
  clip: rect(2px, 2px, 2px, 2px);
}
.whole-clip {
  clip: rect(50px, 50px, 50px, 50px);
}
